body {
  background-color: rgb(146, 127, 231);
}

.box {
  margin: 12px;
  border: 2px solid orangered;
  padding: 15px;
  background-color: yellowgreen;
}

.center {
  text-align: center;
}

.center-text h2 {
  text-align: center;
}

.center-text ol {
  text-align: center;
  list-style-position: inside;
}

.center-text ul {
  position: relative;
  text-align: left;
  list-style-position: inside;
}

.float {
  margin-top: 50px;
  text-align: left;
  color: white;
}

.float img {
  float: left;
}

#heatstroke {
  color: orange;
}

ol {
  margin: auto;
  max-width: 500px;
  text-overflow: wrap;
  list-style-position: inside;
}

ul li {
  list-style-type: disc;
  padding: 0 0 5px 15px;
}